.projeto {
    display: flex;
    background: linear-gradient(0.25turn, rgb(22, 106, 222), #1f5aac);
    color: white;
    padding: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.4em;
    box-shadow: 2px 2px 14px rgba(148, 148, 148, 0.281);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
    padding-left: 2.5rem;
    
}

.proj-infos {
    margin-left: 5px;
}
