<main class="flex-container">
    <div class="proj-content">
        <div class="add-registro">
            <div class="dia-selecionado">
                Dia: {{dia}}
            </div>
            <div class="btn-add naoSelecionavel">
                <div class="texto-btn">Adicionar recurso</div>
            </div>
        </div>
        <div class="registros">
            <div class="registro-diario">
                Registro
            </div>
            <div class="registro-diario">
                Registro
            </div>
            <div class="registro-diario">
                Registro
            </div>
            <div class="registro-diario">
                Registro
            </div>
            <div class="registro-diario">
                Registro
            </div>
            <div class="registro-diario">
                Registro
            </div>
            
        </div>
        <div class="rodape-main">
            Projeto: Nome | N° Contrato: 452154842 | Valor: R$ 45.665,00 | Valor restante: R$ 30.142,00
        </div>
    </div>
    <div class="divisor"></div>
    <div class="calendar">
        <app-calendar></app-calendar>
    </div>
</main>