<main class="flex-container">
    <div class="proj-content">
        <div class="add-registro">
            <div class="dia-selecionado">
                Dia: {{dia}}
            </div>
            <div class="btn-add">
                <div class="texto-btn">Adicionar recurso</div>
            </div>
        </div>
        <div class="registros">
            Left Column
        </div>
    </div>
    <div class="divisor"></div>
    <div class="calendar">
        <app-calendar></app-calendar>
    </div>
</main>