
.container {
    display: flex;
    flex-direction: column;
}
.numero-dias {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    width: 95%;
    margin: auto;
    padding: 5px;

}

.dia-numerico {
    padding: 5px;
    font-weight: 500;
    box-shadow: 0px 2px 3px rgba(148, 148, 148, 0.281);
}
.dia-numerico:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    font-weight: 500;
}

.dia-atual {
    background-color: rgb(251, 253, 110);
    padding: 2px;
    border-radius: 50%;
}

.dias {
    padding: 5px;
}

.iniciais-dias {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 3px;
    width: 95%;
    padding: 5px;
    font-weight: 500;   
    color: rgb(173, 167, 179);

}
.preenchido {
    background-color: rgb(184, 21, 21);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 2px;
}
.mes {
    display: flex;
    height: 25px;
    color: rgb(27, 53, 87);
    width: 95%;
    margin: auto;
    padding: 5px;
    font-weight: 500;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}
.nomeMes {
    margin-left: 6px;
    flex-grow: 8;
}
.prev-next-month {
    flex-grow: 1;
    border-radius: 5px;
}
.prev-next-month:hover {
    box-shadow: 0px 2px 5px rgba(148, 148, 148, 0.281);
    cursor: pointer;
}
.domingo {
    grid-column-start: 1;
}
.segunda {
    grid-column-start: 2;
}
.terca {
    grid-column-start: 3;
}
.quarta {
    grid-column-start: 4;
}
.quinta {
    grid-column-start: 5;
}
.sexta {
    grid-column-start: 6;
}
.sabado {
    grid-column-start: 7;
}
