<div class="container">
    <div class="mes">
        {{monName [now.getMonth()]}}
    </div>
    <div class="iniciais-dias">
        <div class="dias">D</div>
        <div class="dias">S</div>
        <div class="dias">T</div>
        <div class="dias">Q</div>
        <div class="dias">Q</div>
        <div class="dias">S</div>
        <div class="dias">S</div>
    </div>
    <div class="numero-dias">
        <div class="dia-numerico" *ngFor="let item of diasDoMes">
            <div class="preenchido"></div>
            <div class="conteudo">
                {{item}}
            </div>

        </div>
    </div>
</div>