<div class="container">
    <div class="mes">{{monName [now.getMonth()]}}</div>
    <div class="iniciais-dias">
        <div class="dias">D</div>
        <div class="dias">S</div>
        <div class="dias">T</div>
        <div class="dias">Q</div>
        <div class="dias">Q</div>
        <div class="dias">S</div>
        <div class="dias">S</div>
    </div>
    <div class="numero-dias">
        <div class="dia-numerico">1</div>
        <div class="dia-numerico">2</div>
        <div class="dia-numerico">3</div>
        <div class="dia-numerico">4</div>
        <div class="dia-numerico">5</div>
        <div class="dia-numerico">6</div>
        <div class="dia-numerico">7</div>
        <div class="dia-numerico">8</div>
        <div class="dia-numerico">9</div>
        <div class="dia-numerico">10</div>
        <div class="dia-numerico">11</div>
        <div class="dia-numerico">12</div>
        <div class="dia-numerico">13</div>
        <div class="dia-numerico">14</div>
        <div class="dia-numerico">15</div>
        <div class="dia-numerico">16</div>
    </div>
</div>