<div class="container">
    
    <div class="mes">
        <div class="prev-next-month">
            <span class="material-icons naoSelecionavel" (click)="prevMonth()">arrow_left</span>
        </div>
        
        <div class="nomeMes naoSelecionavel">
            <span class="material-icons naoSelecionavel">calendar_today</span>
            {{monName [mes]}}
        </div>
        <div class="prev-next-month">
            <span class="material-icons naoSelecionavel" (click)="nextMonth()" >arrow_right</span>
        </div>
    </div>
    <div class="iniciais-dias">
        <div class="dias">dom</div>
        <div class="dias">seg</div>
        <div class="dias">ter</div>
        <div class="dias">qua</div>
        <div class="dias">qui</div>
        <div class="dias">sex</div>
        <div class="dias">sab</div>
    </div>
    <div class="numero-dias">
        <div class="dia-numerico naoSelecionavel" *ngFor="let item of diasDoMes">
            <div class="preenchido"></div>
            <div class="conteudo " (click)="getDiaSelecionado($event)">
                {{item}}
            </div>

        </div>
    </div>
</div>

