@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand&family=Smooch+Sans:wght@500&display=swap');

.container {
    padding: 1rem;
    margin-top: -50px;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 106, 222);
    ;
    height: 140px;
}

.infos {

    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-top: 10px;
}

.projmaster {
    padding: 1rem;
    padding-left: 3rem;
    font-size: 3rem;
    color: rgb(250, 220, 137);
    font-family: 'Khand', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
}

.master {
    font-family: 'Khand', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
    color: white;
}

.empty-space {
    height: 50px;
}


.material-symbols-outlined {
    vertical-align: middle;
    font-size: 3rem;
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 48
}